<div class="event">
  <div class="label">
    <img src="/images/male.jpg">
  </div>
  <div class="content">
    <div class="summary">
      <em><%= message.user.username%></em>: <%= message.body%>
    </div>
  </div>
</div>
