<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Say Something..!!
</h2>

<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="/images/jenny.jpg">
            </div>
            <div class="content">
              <div class="summary">
                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/images/male.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>Christian Rocha</a> signed up for the  site.
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/images/helen.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
            <input type="text" placeholder="Enter a meassage...">
            <i class="icon bordered orange edit"></i>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
