<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Say Something..!!
</h2>

<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui large feed">
          <%= render @messages%>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: 'ui reply form', role: 'form'}, url: message_path) do |f|%>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: 'Enter a message...'%>
              <%= f.button do %>
                <i class="icon orange edit"></i>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
