<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Say Something..!!
</h2>

<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui large feed">
          <%= render @messages%>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
            <input type="text" placeholder="Enter a meassage...">
            <i class="icon bordered orange edit"></i>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
